<main class="form">
  <section class="form__block">
    <h1 class="form__title">Login</h1>
    <form>
      <label class="form__field" for="email">Email
        <input [(ngModel)]="formValues.email" class="form__input" id="email" type="text" name="email">
        <p class="form__field-error">{{ errors.email }}</p>
      </label>
      <label class="form__field" for="password">Password
        <input [(ngModel)]="formValues.password" class="form__input" id="password" type="password" name="password">
        <p class="form__field-error">{{ errors.password }}</p>
      </label>
      <button (click)="login($event)" class="btn btn--block">Login</button>
      <p class="form__field-error">{{ errors.login }}</p>
      <a routerLink="/register" class="btn btn--block btn--form">Register</a>
    </form>
  </section>
</main>
