<main class="form">
  <section class="form__block">
    <h1 class="form__title">Login</h1>
    <form>
      <label class="form__field" for="email">Email
        <input class="form__input" id="email" type="text">
        <p class="form__field-error">Error</p>
      </label>
      <label class="form__field" for="password">Password
        <input class="form__input" id="password" type="password">
        <p class="form__field-error">Error</p>
      </label>
      <input class="btn btn--block" type="submit" value="Login">
      <a routerLink="/register" class="btn btn--block btn--form">Register</a>
    </form>
  </section>
</main>
