<header>
  <h1 class="header">Dashboard</h1>
</header>

<main class="container">
  <section class="content">
    <button class="btn btn--md" (click)="getSomething()">Get Something</button>

    <article *ngIf="title" class="content__article">
      <h6 class="content__article-title">Title</h6>
      <p>{{ title }}</p>
      <h6 class="content__article-title">Body</h6>
      <p>{{ body }}</p>
    </article>
  </section>

  <section class="logout">
    <button class="btn btn--md" (click)="logout()">Logout</button>
  </section>
</main>
