$color-article-background: rgba(0, 0, 0, .1);

.header {
  text-align: center;
  padding: 32px;
}

.container {
  margin: 0 32px;
}

.content {
  margin-top: 32px;
}

.content__article {
  background-color: $color-article-background;
  border-radius: 5px;
  margin-top: 16px;
  padding: 16px;
  width: 200px;
}

.content__article-title {
  opacity: 0.7;

  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.logout {
  margin-top: 32px;
}
