<main class="form">
  <section class="form__block">
    <h1 class="form__title">Register</h1>
    <form>
      <label class="form__field" for="first-name">First Name
        <input class="form__input" id="first-name" type="text">
        <p class="form__field-error">Error</p>
      </label>
      <label class="form__field" for="last-name">Last Name
        <input class="form__input" id="last-name" type="text">
        <p class="form__field-error">Error</p>
      </label>
      <label class="form__field" for="email">Email
        <input class="form__input" id="email" type="text">
        <p class="form__field-error">Error</p>
      </label>
      <label class="form__field" for="password">Password
        <input class="form__input" id="password" type="password">
        <p class="form__field-error">Error</p>
      </label>
      <label class="form__field" for="confirm-password">Confirm Password
        <input class="form__input" id="confirm-password" type="password">
        <p class="form__field-error">Error</p>
      </label>
      <input class="btn btn--block" type="submit" value="Register">
      <a routerLink="/login" class="btn btn--block btn--form">Login</a>
    </form>
  </section>
</main>
